################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
**/*/bin/
**/*/obj/
/packages/
**/*.csproj.user
*/wwwroot/DEVONLY/
**/wwwroot/css/
**/wwwroot/js/
**/wwwroot/assets/
**/*/node_modules/
**/*/.npmrc
StyleCop.Cache
npm-debug.log
appsettings.Test.json
 
/*.sln.DotSettings.user
/*/.vscode/
.vscode
**/dist/*
*/.nyc_output/*
/TestResults/
/node_modules
/bin/Debug
/obj
